.contactpage{
    display: flex;
    justify-content: center;
    background-color: var(--bg-color);
    min-height: 750px;
    height: fit-content;
}

.contact h2 {
    color: var(--text-color);
    margin-bottom: 2rem;
}

.contact form {
    max-width: 80rem;
    margin: 1rem auto;
    text-align: center;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50rem;
    max-width: 70rem;
}

.contact form .input-box input,
.contact form textarea {
    padding: 1rem;
    font-size: 1.2rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    width: 100%;
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
    width: 100%;
    padding: 5px 5px 5px;
    font-size: 1.8rem;
    background-color: var(--main-color);
    border-radius: 5rem;
    box-shadow: 0 0 15px var(--main-color);
}

.contact form .btn:hover {
    box-shadow: none;
}

.contact form .btn input {
    background: transparent;
}